#container {
	height: 600px;
	width: 600px;
      margin: 20px auto 0;
      background-color: lightgray;
}

#etchy {
      width:600px;
      height:600px;
      margin: 30px auto;
}

div div {
      width: 37.5px;
	height: 37.5px;
	outline: 1px solid black;
	float: left;
}

.highlight {
      background-color: black;
}

p {
      color:red;
      font-size: 20px;
      padding: 20px;
}
